@using ControllersBasics.Models
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<div>
    <h3>Продажа книг</h3>
    <table>
        <thead>
            <th>ID</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Цена</th>
        </thead>
        <tbody>
            @foreach (Book current in ViewBag.Books)
            {
                <tr>
                    <td>@current.Id</td>    
                    <td>@current.Title</td>    
                    <td>@current.Author</td>    
                    <td>@current.Price</td>    
                    <td>@Html.ActionLink("Купить","BuyBook",
                            "Home", new {idBook=@current.Id}, null)</td>    
                </tr>
            }
        </tbody>
    </table>
</div>